<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JPMC Assignment Suite" verbose="1" parallel="classes" thread-count="1">
    <test name="Guardian News Tests">
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>
</suite>